<!-- <div style="text-align: center">
  <h1 [style.text-align]="alignMent()">
   
    <app-menu (newItemEvent)="addItem($event)" [item]="data"></app-menu>
    <ul>
      <li *ngFor="let item of items">{{item}}</li>
    </ul>
  </h1>
  <button (click)="clicked();">click me</button>
  <input type="text" value="{{title}}" />
</div> -->
<h1>Angular Router App</h1>
<nav>
  <ul>
    <li>
      <a
        routerLink="/first-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >First Component</a
      >
    </li>
    <li>
      <a
        routerLink="/second-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Second Component</a
      >
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>
